<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ztcartxe.reppopkpa.apkpopper">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher_custom"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher_custom_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Aboutus_Activity" />
        <activity android:name=".activities.License_Credits_Activity" />
        <activity android:name=".activities.ApkFileSaveFormat_Activity" />
        <activity android:name=".activities.Permission_Activity" />
        <activity android:name=".activities.Manifest_Activity" />
        <activity android:name=".activities.DexClass_Activity" />
        <activity android:name=".activities.UsesFeatures_Activity" />
        <activity android:name=".activities.AppDetails_Activity" />
        <activity android:name=".activities.Main_Activity" android:configChanges="orientation|screenSize" />
        <activity android:name=".activities.MainIntro_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>